body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
}

.center {
  text-align: center;
}

h1 {
  height: 96px;
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.op {
  display: none;
}

.task {
  width: 384px;
  height: 43px;
  margin: 0 auto;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .25rem;
  background-color: #f7fafc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 10px -3px #8080808c;
          box-shadow: 0 2px 10px -3px #8080808c;
  text-decoration: none;
  font-family: inherit;
  position: relative;
}

.text {
  width: 120px;
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 16px;
  margin-right: 16px;
  border: none;
  padding-top: 0;
  padding-bottom: 0px;
  color: #718096;
  font-size: 100%;
}

.text-lg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.125rem;
}

.menue {
  margin-left: auto;
  height: 43px;
  line-height: 1.5;
}

.btn {
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
  font-size: 1.125rem;
  cursor: pointer;
  color: #fff;
  border: none;
  height: 35px;
}

.red {
  background-color: #f56565;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.blue {
  background-color: #4299e1;
}

.yellow {
  background-color: #ecc94b;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.zero {
  color: #a0aec0;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.new-task {
  background-color: #68d391;
  color: #fff;
  width: 384px;
  margin: 0 auto;
  border-radius: .25rem;
  cursor: pointer;
}
